:root{
    --body-bg-color: #F4F7FD;
    --clm-title-color: #828FA3; 
    --button-color: #635FC7;
    --border-color: #E4EBFA;
    --btn-text-color: white;
    --clm-color: var(--btn-text-color);
    --clm-text-color: #000112;
    --theme-switch-btn: var(--button-color);
    --toggle-btn: var(--body-bg-color);
    --sidebar-text-color: var(--button-color);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--body-bg-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    transition: margin-left 0.5s ease;
    position: relative;
}

/* DARK MODE THEME */
body.dark{
    --body-bg-color: #20212C;
    --clm-color: #2B2C37;
    --clm-text-color: var(--btn-text-color);
    --theme-switch-btn: #20212C;
    --toggle-btn: var(--button-color);
    --sidebar-text-color: var(--clm-text-color);
}

.toggle-theme-btn{
    width: 251px;
    height: 48px;
    border-radius: 6px;
    background-color: var(--toggle-btn);
    border: none;
    position: absolute;
    bottom: 13.5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.theme-switch{
    width: 40px;
    height: 20px;
    border-radius: 12px;
    background-color: var(--theme-switch-btn); 
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.switch-btn{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--btn-text-color);
    display: inline-block;
}

#loading{
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;        
    border-top: 5px solid #635FC7; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
}

#blur-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari support */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@layer SIDEBAR{

    nav{
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--clm-color);
        border-right: 1px solid #e4ebfa;
        opacity: 1;
        transform: translateX(0);
        transition: width 0.5s ease, opacity 0.5s ease;
        z-index: 3;
    }

    nav.hide{
        opacity: 0;
        transform: translateX(-100%);
    }

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5); 
        z-index: 2;
        pointer-events: auto;
        display: none; 
    }

    nav.hide button{
        pointer-events: none;
    }

    .sidebar-close-btn{
        display: none;
    }

    .logo-wrapper{
        margin: 33px 113px 54px 34px;
    }

    .app-name{
        width: 113px;
        height: 25px;
        margin-left: 10px;
    }

    .dark-app-name{
        width: 113px;
        height: 25px;
        margin-left: 10px;
    }

    .app-icon{
        width: 25px;
        height: 24px;
    }

    .dark-app-icon{
        width: 25px;
        height: 24px;
    }

    .boards-container > h4{
        padding: 0 12px 0 50px;
        color: var(--clm-title-color);
        letter-spacing: 2.4px;
        font-size: 12px;
    }

    .boards-container > button{
        width: 276px;
        height: 48px;
        padding: 28px 12px 28px 50px; 
        border: none;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: var(--button-color);
        color: white;
        font-family: inherit;
        font-size: 0.9375rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    /* OPEN AND CLOSE SIDEBAR */
    .toggle-sidebar{
        width: 276px;
        height: 49.75px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: var(--toggle-btn);
        color: var(--sidebar-text-color);
        border: none;
        font-family: inherit;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: 0px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px 0 20px;
        position: absolute;
        bottom: 7%;
        cursor: pointer;
    }

    .toggle-sidebar > img{
        margin-right: 40px;
    }

    .open-sidebar{
        position: absolute;
        bottom: 0;
        left: 0;
        border: none;
        background-color: #A8A4FF;
        width: 56px;
        height: 48px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        cursor: pointer;
        display: none;
    }

}

@layer HEADER{
    header{
        width: 100%;
        height: 96px;
        background-color: var(--clm-color);
        padding: 0 35px 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E4EBFA;
    }

    .add-task-btn{
        width: 164px;
        height: 48px;
        background-color: var(--button-color);
        border: none;
        border-radius: 24px;
        font-weight: bold;
        font-size: 15px;
        font-family: inherit;
        line-height: 1;
        color: white;
        cursor: pointer;
    }


    .flex-header{
        display: flex;
        align-items: center;
    }

    .mobile-light-logo{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        display: inline;
    }

    .mobile-dark-logo{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        display: none;
    }

     h2{
        font-family: inherit;
        font-size:  1.5rem;
        font-weight: 600;
        color: var(--clm-text-color);
        margin: 0;
    }
}

@layer MAIN{

    .main-container{
        display: flex;
        flex-direction: column;
        padding-left: 35px;
        box-sizing: border-box;
        height: 767px;
    }
    
    main{
        display: grid;
        grid-template-columns: repeat(3,minmax(0, 304px)
        )     ; /* 3 columns with min size */
        gap: 8px; 
    }

    @layer TODO{

        .todo-list-container{
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 12px;
            gap: 20px;
        }

        .todo-list{
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .todo-list > span{
            width: 15px;
            height: 15px;
            background-color: #49C4E5;
            display: inline-block;
            border-radius: 100%;
        }

        .todo-list > h4{
            font-size: 12px;
            letter-spacing: 2.4px;
            line-height: 1;
            font-weight: 700;
            color: #828FA3;
            margin: 0;
        }

        .todo-flex-container > div{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            background-color: var(--clm-color);
            border-radius: 12px;
            box-shadow: 0 4px 6px 0 #364E7E1A;
            /* styling for the text inside the div    */
            font-size: 0.9375rem;
            font-family: inherit;
            font-weight: bold;
            color: var(--clm-text-color);
            cursor: pointer;
            transition: width 0.3s;
        }

        .todo-flex-container > div:hover{
            width: 290px;
            box-shadow: 5px 7px 6px 0 #364E7E1A;
        }

        .todo-flex-container > div:active{
            border: 2px solid #364E7E1A;
        }

        .todo-flex-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    @layer DOING{

        .doing-list-container{
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 12px;
            gap: 20px;
        }

        .doing-list{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .doing-list > span{
            width: 15px;
            height: 15px;
            background-color: #8471F2;
            display: inline-block;
            border-radius: 100%;
        }

        .doing-list > h4{
            font-size: 12px;
            letter-spacing: 2.4px;
            line-height: 1;
            font-weight: 700;
            color: #828FA3;
            margin: 0;
        }

        .doing-flex-container > div{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            background-color: var(--clm-color);
            border-radius: 8px;
            box-shadow: 0 4px 6px 0 #364E7E1A;
            /*styling for the text inside the div*/   
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 1px;
            color: var(--clm-text-color);
            cursor: pointer;
            transition: width 0.3s;
        }

         .doing-flex-container > div:hover{
            width: 290px;
            box-shadow: 5px 7px 6px 0 #364E7E1A;
        }

        .doing-flex-container > div:active{
            border: 2px solid #364E7E1A;
        }

        .doing-flex-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    @layer DONE{

        .done-list-container{
            flex: 1;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 20px
        }

        .done-list{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .done-list > span{
            width: 15px;
            height: 15px;
            background-color: #67E2AE;
            display: inline-block;
            border-radius: 100%;
        }

        .done-list > h4{
            font-size: 12px;
            letter-spacing: 2.4px;
            line-height: 1;
            font-weight: 700;
            color: #828FA3;
            margin: 0;
        }

        .done-flex-container > div{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            background-color: var(--clm-color);
            border-radius: 8px;
            box-shadow: 0 4px 6px 0 #364E7E1A;
            /*styling for the text inside the div*/   
            font-size: 15px;
            font-weight: 700;
            font-family: inherit;
            letter-spacing: 1px;
            color: var(--clm-text-color);
            cursor: pointer;
            transition: width 0.3s;
        }

        .done-flex-container > div:hover{
            width: 290px;
            box-shadow: 5px 7px 6px 0 #364E7E1A;
        }

        .done-flex-container > div:active{
            border: 2px solid #364E7E1A;
        }

        .done-flex-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    @layer MODAL{
        .modal-container{
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            opacity: 0;
            transition: opacity 1s ease;
        }

        .display-modal{
            opacity: 1;
            pointer-events: auto;
        }

        .modal{
            width: 479px;
            height: 479px;
            border-radius: 6px;
            background-color: var(--clm-color);
            padding: 25px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        form > label{
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: 1;
            letter-spacing: 0px;
            color: #828FA3;
        }

        ::placeholder{
            color: #000112;
            opacity: 25%;
            font-family: "Plus Jakarta Sans", sans-serif;
        }

        .modal-header-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        .modal-header{
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0px;
            color: var(--clm-text-color);
        }

        .close-btn{
            background-color: var(--clm-color);
            border: none;
            cursor: pointer;
        }

        .close-btn > img{
            width: 15px;
            height: 15px;
        }

        /*TITLE INPUT*/
        .input-title{
            width: 424px;
            height: 41px; 
            border: 1px solid #828FA340;
            border-radius: 4px;
            padding: 0 10px;
            font-family: inherit;
            font-weight: 500;
        }

        /*DESCRIPTION INPUT*/
        .input-description{
            width: 424px;
            height: 114px;
            border: 1px solid #828FA340;
            border-radius: 4px;
            resize: none;
            font-family: inherit;
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 23px;
            padding: 5px 10px;
            font-weight: 500;
        }

        /*STATUS INPUT*/
        .input-status{
            width: 424px;
            height: 41px; 
            border: 1px solid #828FA340;
            border-radius: 4px;
            padding: 0 20px;
            background-color: white;
            font-family: inherit;
            font-weight: 500;
        }

        select, select > option{
            font-family: inherit;
        }

        /*****Custom Dropdown Arrow*****/
        select{
            appearance: none; /*Hides the default arrow*/
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url(images/Path.svg); /*custom arrow svg*/
            background-repeat: no-repeat;
            background-position: right 15px center;
            cursor: pointer;
        }

        /**SECOND MODAL**/
        #modal-2{
            height: 479px;
            width: 479px;
        }

        #input-title-2{
            width: 424px;
        }

        #input-description-2{
            width: 424px;
        }

        #input-status-2{
            width: 424px;
        }

        .create-task-btn{
            width: 424px;
            height: 40px;
            border: none;
            border-radius: 20px;
            background-color: #635FC7;
            color: white;
            cursor: pointer;
            margin-top: 10px;
        }
        
        /* SAVE AND DELETE BUTTON */
        .btns-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        #save-btn, #delete-btn{
            width: 200px;
            height: 40px;
            border-radius: 20px;
            border: none;
            font-size: 13px;
            letter-spacing: 0px;
            font-weight: 700;
            font-family: inherit;
            color: white;
            cursor: pointer;
        }

        #save-btn{
            background-color: #635FC7;
            
        }

        #delete-btn{
            background-color: #EA5555;
        }
    }
}

/*=============
   Tablet View*/
@media screen and (max-width: 1023px) {
    body{
        padding: 0;
        padding-top: 64px;
    }
    /* ==================== 
        RESPONSIVE SIDEBAR
        ===================
    */
    nav{
        position: absolute;
        top: 66px;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        height: 200px;
        border-radius: 8px;
        border: none;
    }

    .sidebar-close-btn{
        position: absolute;
        right: 20px;
        top: 16px;
        cursor: pointer;
        display: inline;
    }

    .open-sidebar{
        display: none !important;
    }

    .toggle-sidebar{
        display: none;
    }

    .logo-wrapper{
        display: none;
    }

    .boards-container > button {
        width: 293px;
        height: 48px;
        font-size: 15px;
    }

    /***HEADER***/
    header{
        height: 64px;
        padding: 0 10px 0 18px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border: none;
    }

    .add-task-btn{
        width: 164px;
        height: 40px;
        font-size: 14px;
    }

    h2{
        font-size: 1rem;

    }

    .mobile-light-logo {
        display: inline;
        cursor: pointer;
    }

    .mobile-dark-logo {
        display: none;
        cursor: pointer;
    }

    body.dark .mobile-light-logo {
        display: none;
        cursor: pointer;
    }

    body.dark .mobile-dark-logo {
        display: inline;
        cursor: pointer;
    }


    /***MAIN***/
    main{ 
        width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 360px));
        gap: 8px;
    }

    .main-container{
        padding: 0;
        width: 100%;
        align-items: center; /* Center columns on smaller screens */
    }

    .todo-flex-container > div{
        width: 100%
    }

    .todo-list-container, .doing-list-container, .done-list-container{
        padding: 12px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .doing-flex-container > div{
        width: 100%
    }

    .done-flex-container > div{
        width: 100%
    }

    .dot{
        width: 8px;
        height: 8px;
    }

    h4{
        gap: 8px;
        font-size: 0.75rem;
    }

    .todo-list, .doing-list, .done-list{
        gap: 10px
    }
}

 /*MOBILE VIEW*/
@media (max-width: 576px){
    .logo-wrapper{
        margin: 16px 150px 16px 16px;
    }

    body{
        padding: 0;
        padding: 64px 16px;
    }

    nav{
       display: inline;
    }


    h2{
        display: none;
    }

    .add-task-btn{
        font-size: 0;
        cursor: pointer;
        width: 33px;
        height: 33px;
        position: relative;
    }

    .add-task-btn::before{
        content: "+";
        font-size: 16px;
        font-weight: 800;
        position: absolute;
        top: 7px;
        left: 11px;

    }

    main{
        grid-template-columns: minmax(0,380px); /* Stack columns in single column */
    }

    .todo-list, .doing-list, .done-list{
        margin: 15px 0;
    }

    .dot{
        width: 15px;
        height: 15px;
    }
    .boards-container{
        display: block;
    }

    .todo-flex-container > div{
        width: 100%;
    }
    
    .doing-flex-container > div{
        width: 100%;
    }

    .done-flex-container > div{
        width: 100%;
    }

    /*Mobile modal view*/
    .modal{
        width: 343px;
        height: 538px;
        position: absolute;
    }

    .input-title{
        width: 295px;
        height: 40px;
    }

    .input-description{
        width: 295px;
        height: 112px;
    }

    .input-status{
        width: 295px;
        height: 40px;
    }

    select{
        background-size: 9.4px 4.7px;
    }

    #modal-2{
        height: 479px
    }

    .create-task-btn{
        width: 295px ;
    }

    .btns-container{
        flex-direction: column;
        gap: 15px;
    }

    #save-btn, #delete-btn{
        width: 300px;
        height: 40px;
    }
}